n8n_workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * 0"
            }
          ]
        }
      },
      "id": "5e03a382-5312-40d1-ab3b-79dd93b7c25e",
      "name": "Weekly Schedule (Sunday 02:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -480,
        240
      ]
    },
    {
      "parameters": {},
      "id": "977f9c8e-319f-4adb-a4ec-cbe2cad162fb",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:8000/api/v1/improve/run-cycle",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"dataset_split\": \"dev\",\n  \"limit\": 50,\n  \"prompt_name\": \"system_prompt\",\n  \"top_k_patterns\": 5\n}",
        "options": {
          "timeout": 900000
        }
      },
      "id": "c637a452-2dd9-41ed-a26b-2353e6b35555",
      "name": "Run Improvement Cycle",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        336
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-cycle-success",
              "leftValue": "={{ $json.proposal_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "03cb6e13-3174-400f-b713-2f002c032d22",
      "name": "Cycle Succeeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        120,
        336
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#qa-improvements",
          "mode": "name"
        },
        "text": "=🔄 *Self-Improvement Cycle Complete*\n\n• Patterns found: {{ $('Run Improvement Cycle').item.json.patterns_found }}\n• Rationale: {{ $('Run Improvement Cycle').item.json.suggestion_rationale }}\n• Proposal ID: `{{ $('Run Improvement Cycle').item.json.proposal_id }}`\n• Experiment ID: `{{ $('Run Improvement Cycle').item.json.experiment_id ?? 'N/A' }}`\n\n*Baseline scores:*\n{{ Object.entries($('Run Improvement Cycle').item.json.avg_scores_baseline || {}).map(([k,v]) => '  • ' + k + ': ' + v.toFixed(2)).join('\\n') || '  (none)' }}\n\n*Candidate scores:*\n{{ Object.entries($('Run Improvement Cycle').item.json.avg_scores_candidate || {}).map(([k,v]) => '  • ' + k + ': ' + v.toFixed(2)).join('\\n') || '  (none)' }}\n\n*Action needed:* Review and approve or reject the proposal.\n→ <{{ 'http://localhost:3001/improve' }}|Open Improve Page>\n→ <{{ $('Run Improvement Cycle').item.json.langfuse_experiment_url ?? '#' }}|View in Langfuse>",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "c7484144-9cdd-494f-8e74-3b4357db85b3",
      "name": "Notify Slack - Improvement Ready",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        400,
        240
      ],
      "webhookId": "07a117c7-a6fa-421a-aa0f-36be75a60cf7",
      "credentials": {
        "slackApi": {
          "id": "A6h0Pxj0ZmjaZea7",
          "name": "Slack account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#qa-improvements",
          "mode": "name"
        },
        "text": "=⚠️ *Self-Improvement Cycle Failed*\n\n• Error: {{ $('Run Improvement Cycle').item.json.message ?? $('Run Improvement Cycle').item.json.detail ?? 'Unknown error' }}\n\nThis usually means no failure patterns were found or suggestion generation failed. Run more evaluations first.",
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "id": "375c1070-57f9-42b6-99cc-7d4691feaf34",
      "name": "Notify Slack - Cycle Failed",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        400,
        432
      ],
      "webhookId": "7f995d24-06d7-446f-ae61-0fd311b20189",
      "credentials": {
        "slackApi": {
          "id": "A6h0Pxj0ZmjaZea7",
          "name": "Slack account"
        }
      },
      "continueOnFail": true
    }
  ],
  "connections": {
    "Weekly Schedule (Sunday 02:00)": {
      "main": [
        [
          {
            "node": "Run Improvement Cycle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Run Improvement Cycle",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Improvement Cycle": {
      "main": [
        [
          {
            "node": "Cycle Succeeded?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cycle Succeeded?": {
      "main": [
        [
          {
            "node": "Notify Slack - Improvement Ready",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Slack - Cycle Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "558d88703fb65b2d0e44613bc35916258b0f0bf983c5d4730c00c424b77ca36a"
  }
}